@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .logo
    width: 100%
    text-align: center

  .header nav ul li:first-child a
  	padding-left: 0

  .search form img
    top: 58px

  .top_info
    h3
      padding-top: 100px
    .top_info_descr
      padding-left: 15px

  .name_cat h1
    text-align: left

  .top_info_item
  	&:nth-child(even)
  		.top_info_descr
  			padding-right: 15px

  .new_eshop
  	.row
  		margin-right: -15px
  		margin-left: -15px
  		.col-sm-4
  			padding-right: 15px
  			padding-left: 15px

// ≥992px
+media-breakpoint-down(md)
  .logo
    width: auto

  .description_product
    margin-top: 60px
    padding-left: 0

  .product h1
    font-size: 30px

  .top_info
    h3
      padding-top: 50px

  .full_article .thumb
    margin-bottom: 50px

  .search_item
  	.thumb
  		display: none

  .related h2, h2
    font-size: 26px
    margin-bottom: 30px
    margin-top: 30px



// ≥768px
+media-breakpoint-down(sm)

  .sort form
    display: none

  .woocommerce-ordering
    display: none

  .product h1, .rubrika h1
    padding-top: 50px

  .product_title
    padding-top: 45px

  .cart-short
    img
      border-width: 5px

  .container
    max-width: 100%

  .content, .contacts
    padding-left: 15px
    padding-right: 15px

  .nav_top
    padding: 0
    .hamburger
      float: right
    nav
      display: none
      background-color: #fff
      box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.2)
      left: 0
      position: absolute
      top: 100%
      width: 100%
      ul
        padding: 20px 0
        display: block
        li
          display: block
          text-align: center
          &:first-child a
            padding-left: 15px
          a
            padding: 15px
          ul
            border-top: none


  .header
    flex-wrap: nowrap

  .header_but_control
    flex: 1

  .breadcrumbs
    display: none

  .header nav ul li ul
    position: static
    width: 100%
    left: 0
    transform: none
    box-shadow: none

  .logo_footer
    margin-top: 25px

  footer, .footer
    padding-top: 15px
    padding-bottom: 70px
    .text-center, .last_footer
      text-align: left
    > div > div > div
      margin-top: 50px
    h3
      margin-bottom: 5px
    .soc_icons
      margin-bottom: 10px
      li
        margin-left: 0
        margin-right: 20px

  .category_top
    margin-top: 0
    padding-top: 30px

  .category_top
    flex-wrap: wrap
    > div
      flex: auto
  .name_cat
    width: 100%
    h1
      text-align: center

  .category_menu
    margin-top: 15px

  #hamburder_category
    float: left
    margin-top: 0
    padding: 0

  .sort
    margin-top: 30px


  .category_image
    min-height: auto
    height: auto
    max-width: 100%
    position: static
    transform: none
    overflow: auto
    background-image: none!important
    .category_info
      width: 100%
      position: static
      transform: none

  .content.category
    margin-top: 0
    .row .col-md-9 .row .col-6
      &:nth-child(odd)
        padding-right: 7px
      &:nth-child(even)
        padding-left: 7px


// ≥576px
+media-breakpoint-down(xs)

  .search form button
    top: 22px

  .search form input
    margin-top: 10px

  .cart-short
    margin-bottom: 40px

  .header
    min-height: auto
    padding-top: 0
    padding-bottom: 0

  .banner_2
    min-height: 390px

  .full_article .thumb
    max-width: 100%
    width: 100%
    margin-right: 0

  .category_image
  	.category_info
      top: 0
      padding: 50px 20px

  .logo
    width: 100%

  .header .header_but_control
    text-align: left
    flex: auto

  h2
    font-size: 30px
    margin-bottom: 50px

  .cont_resp
    padding-left: 0
    padding-right: 0

  .banner_1
    height: 330px

  .content_home
    margin-top: 0

  .banner_info_top
    top: 95px
    span
      font-size: 20px
      padding: 0 15px
    h1
      font-size: 24px
      padding: 7px 20px 3px

  h3
    font-size: 27px

  .top_info_item:nth-child(even) .top_info_descr
    padding-right: 15px
    padding-left: 15px

  .button
    margin-top: 0
    width: 215px

  .sort label
      display: none

  .thumb
    border-width: 5px

  .detail_imgae
    margin-bottom: 30px

  .daily_menu_item
    .price
      margin-right: 0
      white-space: nowrap
    .order_menu
      text-align: center
    input
      width: 100%

  .header .logo
    width: auto
    img
      width: 85%

  header .container
    padding-left: 0
    padding-right: 0



/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)
  .header .logo
    max-width: 240px
    img
      width: 100%

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
  .col-lg-pull-6
    right: 50%

  .col-lg-push-6
    left: 50%
