<div n:class="$arguments['class']">
  <form n:name="fulltextSearchForm-basic" n:class="uk-search, uk-search-default">
    <span class="uk-search-icon uk-icon">{control svg id => 'search'}</span>
    {input q class => "uk-search-input uk-form-width-small uk-background-default", placeholder => 'Vyhledávání...'}
    {input submit class => 'uk-button uk-hidden'}
  </form>
</div>
